.box {}
.box::after {
    display: block;
    content: '';
    clear: both;
}
.w-250 {
    width: 250px;
}
.fl {
    float: left;
}
.ml-260 {
    margin-left: 260px;
}
.list-group-item:first-child, .list-group-item:last-child {
    border-radius: unset;
}
.main-content {
    width: calc(100% - 260px);
    margin-left: 10px;
}

.main-content .wrap {
    display: flex;
    justify-content: space-around;
    --n: 6;
}
/*https://blog.csdn.net/Stead_ford/article/details/82388271*/
.wrap div {
    height: 100px;
    width: calc(calc((100/var(--n))*1%) - 20px);
}

.main-content .parent-wrap {
    zoom: 1;
}
.navHide {
    display: none;
}
.parent-wrap .child {
    width: 25%;
    float: left;
    padding-top: 25%;
    position: relative;
}

.parent-wrap .child img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 5px;
}

.main-content .parent-wrap:after {
    display: block;
    content: "";
    clear: both;
}